@use '../../../styles/abstracts/variables' as *;
@use "/styles/componets/master-setup.scss" as *;

:host {
  display: block; // Change from flex to block to allow natural growth
}

.master-setup-container {
  background-color: $bg-light;
  min-height: calc(100vh - 84px);
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  .content-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
