<aside class="sidebar">

  <div class="sidebar-brand">
    <div class="brand-name">JTI</div>
    <div class="sub-brand">WAREHOUSE MANAGEMENT</div>
  </div>

  <nav class="sidebar-nav">
    @for (menu of menuService.menus(); track menu.menuId!) {
      <div class="nav-item-wrapper">
        <a
          class="nav-item"
          [routerLink]="menu.menuUrl"
          routerLinkActive="active"
        >
          <span class="nav-icon" [innerHTML]="menu.icon"></span>
          <span class="nav-label">{{ menu.menuName }}</span>
        </a>
      </div>
    }
  </nav>

  <div class="sidebar-footer">
    <div class="profile-card">
      <div class="avatar">JA</div>
      <div class="info">
        <span class="name">James Admin</span>
        <span class="email">admin@jti.com</span>
      </div>
    </div>
  </div>

</aside>